/* GENERAL */

.menu-first-title {
    font-family: 'shrikhand', sans serif;
    font-size: 28px;
}

a {
    text-decoration: none;
    color: black;
}

/* MAIN */


.img-container img{
    width: 100%;    
}

.menu-container {
    background: #F6F6F6;
    border-radius: 50px;
    padding-top: 20px;
    margin-left: 20px;
       
}

.menu-first-title {
    margin-left: 20px;
}

.menu-second-title {
    font-size: 16px;
    font-weight: 300;
    padding-top: 20px;
}

.blue-line {
    width: 40px;
    border-bottom: 2px solid aquamarine;
    margin: 5px 0 5px 20px;
}

.card-menu {
    border-radius: 15px!important;
    margin-top: 20px!important;
}
