.header {
  display: flex;
  justify-content: center;
  height: 63px; }

.header-logo {
  width: 162px;
  height: 35px;
  padding-top: 10px; }

.card-container {
  width: 100%;
  background-color: var(--main-bg-color);
  padding-bottom: 50px; }

.card {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px; }

.article img {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  margin-top: 30px; }

.article {
  width: 100%;
  display: flex;
  position: relative; }

.card-container-news {
  position: absolute;
  right: 0;
  padding-top: 30px;
  padding-right: 20px; }

.card-news {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 400;
  padding: 5px 5px; }

.card-content {
  display: flex;
  background-color: white;
  border-radius: 0 0 15px 15px;
  padding-left: 10px;
  padding-right: 0; }

.card-text {
  margin-top: 5px; }

.card-icone {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-right: 50px; }

.card-content-desc {
  width: 70%; }

.heart-color {
  opacity: 0;
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(180deg, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all;
  font-size: 25px;
  width: 25px;
  height: 25px;
  transition: all 0.3s linear 0s; }
  .heart-color:hover {
    opacity: 1;
    transition: all 0.3s linear 0s; }

.heart-border {
  opacity: 1;
  position: absolute;
  z-index: 2;
  font-size: 25px;
  width: 25px;
  height: 25px; }
  .heart-border:hover {
    opacity: 0; }

/* GENERAL */
.title-container {
  display: flex;
  width: 100%; }

a {
  text-decoration: none;
  color: black; }

/* MAIN */
.arrow-left {
  left: 20px;
  display: flex;
  justify-content: left;
  position: absolute;
  margin-top: 20px; }

.img-container {
  position: relative;
  height: 200px;
  z-index: -1; }

.img-container img {
  width: 100%;
  position: absolute;
  z-index: -1; }

.menu-container {
  background: #F6F6F6;
  border-radius: 50px;
  padding-top: 20px; }

.menu-container-section {
  margin-bottom: 20px; }

.menu-first-title {
  width: 100%;
  font-family: 'shrikhand', 'sans serif';
  font-size: 28px;
  font-weight: 400;
  margin-left: 20px; }

.menu-second-title {
  font-size: 16px;
  font-weight: 300;
  padding-top: 20px; }

.blue-line {
  width: 40px;
  border-bottom: 2px solid var(--main-third-color);
  margin: 5px 0 5px 20px; }

.card-icone-page {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-right: 20px; }

.card-menu {
  display: flex;
  height: 72px;
  position: relative;
  background-color: white;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px 10px 0 10px;
  cursor: pointer;
  overflow: hidden; }

.card-menu-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px !important;
  overflow: hidden; }

.card-menu-txt {
  width: 100%;
  margin-top: 0; }

.card-menu-txt-desc {
  width: 100%;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.card-menu:hover .card-menu-txt-desc {
  width: 60%; }

.checkbox-container {
  width: 80px;
  height: 100%;
  right: -80px;
  position: absolute;
  font-size: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #f6f6f6;
  background-color: var(--main-third-color);
  transition: right 1s, transform 1s;
  white-space: nowrap; }

.card-menu:hover .checkbox-container {
  transform: translateX(-80px); }

.card-menu-txt-price {
  position: absolute;
  right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: right 1s, transform 1s;
  white-space: nowrap;
  margin-top: 25px;
  padding-left: 5px; }

.card-menu:hover .card-menu-txt-price {
  transform: translateX(-80px); }

.title-btn {
  margin-top: 40px; }

#recette1_1 {
  opacity: 0;
  animation: transition 1s ease-in-out 0.2s forwards; }

#recette1_2 {
  opacity: 0;
  animation: transition 1s ease-in-out 0.3s forwards; }

#recette1_3 {
  opacity: 0;
  animation: transition 1s ease-in-out 0.4s forwards; }

#recette1_4 {
  opacity: 0;
  animation: transition 1s ease-in-out 0.5s forwards; }

#recette2_1 {
  opacity: 0;
  animation: transition 1s ease-in-out 0.6s forwards; }

#recette2_2 {
  opacity: 0;
  animation: transition 1s ease-in-out 0.7s forwards; }

#recette2_3 {
  opacity: 0;
  animation: transition 1s ease-in-out 0.8s forwards; }

#recette3_1 {
  opacity: 0;
  animation: transition 1s ease-in-out 0.9s forwards; }

#recette3_2 {
  opacity: 0;
  animation: transition 1s ease-in-out 0.9s forwards; }

#recette3_3 {
  opacity: 0;
  animation: transition 1s ease-in-out 0.9s forwards; }

@keyframes transition {
  0% {
    margin-left: -100px;
    opacity: 0; }
  100% {
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1; } }

.footer {
  background-color: #353535;
  color: white;
  height: 100%; }

.footer-title {
  font-family: 'shrikhand', 'sans serif';
  font-size: 18px;
  font-weight: 300;
  color: white;
  margin-bottom: 20px;
  padding-top: 30px; }

.footer-link {
  margin-top: 10px;
  padding-bottom: 20px; }

.footer-selection {
  margin: 10px 0 5px 20px; }

.footer-txt {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 0 10px; }

.footer-list {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500; }

@media all and (min-width: 768px) {
  .functioning {
    padding-left: 0;
    padding-right: 0; }
  .functioning-container {
    width: 100%;
    display: flex;
    flex-direction: row; }
  .functioning-btn i {
    margin: 0 30px 5px 30px !important; }
  .card-container-title {
    margin-left: 50px; }
  .card-container-flex {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px; }
  .card {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px; }
  .title-container {
    display: flex;
    justify-content: center; }
  .card-icone {
    display: flex;
    width: 100px;
    justify-content: center; }
  .footer {
    display: flex;
    height: 100px;
    flex-direction: row-reverse;
    justify-content: center; }
    .footer-link {
      display: flex;
      flex-direction: row;
      align-items: center; }
  .footer-title {
    padding-top: 30px;
    margin-left: 50px; }
  .footer-link-selection {
    display: flex;
    flex-direction: row !important;
    align-items: center; } }

@media all and (min-width: 1024px) {
  .functioning {
    padding-left: 30px;
    padding-right: 30px; }
  .functioning-btn i {
    justify-content: left;
    margin: 0 30px 5px 30px;
    color: #7E7E7E; }
  /* CARD */
  .menu-container {
    margin: 100px 80px 0 80px;
    padding-left: 80px;
    padding-right: 80px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .img-container {
    position: relative;
    height: 300px; }
  .img-container img {
    display: flex;
    align-items: center;
    z-index: -1; }
  .footer {
    justify-content: right;
    padding-right: 20px; } }

@media all and (min-width: 1280px) {
  .menu-container {
    margin: 100px 80px 0 80px;
    padding-left: 150px;
    padding-right: 150px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; } }

/* GENERAL */
:root {
  --main-bg-color: #F6F6F6;
  --main-first-color: #9356DC;
  --main-second-color: #FF79DA;
  --main-third-color: #99E2D0;
  --main-linear-gradient: linear-gradient(30deg, #9356DC 20%, #FF79DA, #99E2D0 80%);
  --main-btn-color: linear-gradient(#FF79DA, #9356DC);
  --main-btn-color-hover: linear-gradient(rgb(255, 121, 218, 0.9), rgb(147, 86, 220, 0.9)); }

html, body {
  width: 100%; }

body {
  font-family: 'Roboto', sans serif;
  font-size: 16px;
  margin: 0; }

p {
  font-size: 15px;
  font-weight: 300;
  color: var(--main-color); }

h2 {
  color: var(--main-color);
  padding-top: 50px;
  margin: 0 0 0 20px; }

h3 {
  width: 100%;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

/* LODEAR */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background: white;
  animation: hidden 0.5s linear;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 3; }
  .loader-object {
    color: var(--main-bg-color);
    text-align: center;
    background: var(--main-linear-gradient);
    background-size: 100%;
    font-size: 12px;
    border-radius: 50px;
    width: 120px;
    height: 20px;
    animation: spin 2s linear infinite;
    transform-origin: 0 0;
    margin-left: 120px;
    padding-top: 10px; }

@keyframes spin {
  0% {
    transform: rotate(0deg);
    background-position: 0 50%; }
  50% {
    transform: rotate(0deg);
    background-position: 100% 50%; }
  100% {
    transform: rotate(360deg);
    background-position: 0 50%; } }

@keyframes hidden {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* MAIN - SEARCH */
.search {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA; }

.search-container {
  border: none;
  background-color: #EAEAEA;
  height: 50px;
  font-size: 16px;
  font-weight: 500; }

#search-icone {
  color: #353535;
  margin-left: 40px;
  margin-right: 20px; }

/* MAIN - TITLE */
.title-slogan-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-bg-color); }

.title-slogan-container-container {
  font-size: 24px;
  text-align: center;
  margin: 30px 20px 20px 20px; }

.title-slogan-container-txt {
  font-size: 18px;
  color: #353535;
  text-align: center;
  margin: 0 10px 30px 10px; }

.title-slogan-container-btn {
  display: flex;
  justify-content: center;
  width: 100%; }

button {
  width: 218px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  box-shadow: 0px 10px 32px 0px rgba(0, 0, 0, 0.27);
  border: none;
  background: var(--main-btn-color);
  border-radius: 25px;
  margin-bottom: 50px;
  transition: all 0.3s linear 0s; }

button:hover {
  box-shadow: 0px 10px 32px 0px rgba(0, 0, 0, 0.67);
  background: var(--main-btn-color-hover);
  transition: all 0.3s linear 0s; }

/* MAIN - FUNCTIONING */
.functioning {
  padding-bottom: 40px; }

.functioning-btn {
  position: relative;
  width: 90%;
  height: 70px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.15));
  box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.14);
  background-color: var(--main-bg-color);
  border-radius: 20px;
  margin: 30px 20px 0 25px;
  cursor: pointer; }

.functioning-btn i {
  display: flex;
  margin-left: 10px;
  margin-right: 50px;
  color: #7E7E7E;
  margin-bottom: 5px; }

.functioning-btn i:hover {
  color: var(--main-first-color); }

.functioning-btn-nbr {
  width: 24px;
  height: 24px;
  font-size: 14px;
  display: flex;
  position: absolute;
  margin-right: 100%;
  color: white;
  background-color: var(--main-first-color);
  border-radius: 25px; }

.functioning-btn-txt {
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px; }
