
@media all and (min-width: 768px) {
  
    .functioning {
      padding-left: 0;
      padding-right: 0;
      
    }
  
    .functioning-container {
      width: 100%;
      display: flex;
      flex-direction: row;
    } 
  
    .functioning-btn i {
      margin: 0 30px 5px 30px!important;
    }
  
    // CARD
    .card-container-title {
      margin-left: 50px;
    }
    
    .card-container-flex {
      display: flex;
      flex-direction: row; 
      margin-left: 30px; 
      margin-right: 30px;
    }

    .card {
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;
    }

    .title-container {
      display: flex;
      justify-content: center;
    }

    .card-icone {
      display: flex;
      width: 100px;
      justify-content: center;
    }

    // FOOTER
    .footer {
      display: flex;
      height: 100px;
      flex-direction: row-reverse;
      justify-content: center;
      &-link {
        display: flex;
        flex-direction: row;
        align-items: center;      
      }
    }  

    .footer-title {
      padding-top: 30px;
      margin-left: 50px;
    }
  
    .footer-link-selection {
      display: flex;
      flex-direction: row!important;
      align-items: center;
    }
    
  }
  
  @media all and (min-width: 1024px) {
    

    .functioning {
      padding-left: 30px;
      padding-right: 30px;      
    }  
     
    .functioning-btn i {
      justify-content: left;
      margin: 0 30px 5px 30px;
      color: #7E7E7E; 
    }
  
    /* CARD */
    
    .menu-container {
      margin: 100px 80px 0 80px;
      padding-left: 80px;
      padding-right: 80px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .img-container {
      position: relative;
      height: 300px;
    }

    .img-container img{
      display: flex;
      align-items: center;
      z-index: -1;
    }

    .footer {
      justify-content: right;
      padding-right: 20px;
      
    }  
    
  }

  @media all and (min-width: 1280px)  {
    .menu-container {
      margin: 100px 80px 0 80px;
      padding-left: 150px;
      padding-right: 150px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

  }

  