.footer {
    background-color: #353535;
    color: white;
    height: 100%; 
  }
  
  .footer-title {
    font-family: 'shrikhand', 'sans serif';
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
    padding-top: 30px; 
  }
  
  .footer-link {
    margin-top: 10px;
    padding-bottom: 20px; 
  }
  
  .footer-selection {
    margin: 10px 0 5px 20px; 
  }
  
  .footer-txt {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 0 10px; 
  }
  
  .footer-list {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500; 
  }
  