@import "style-header";
@import "style-main-card";
@import "style-page";
@import "style-footer";


/* GENERAL */
:root {
  --main-color: #000000;
  --main-bg-color: #F6F6F6;
  --main-first-color: #9356DC;
  --main-second-color: #FF79DA;
  --main-third-color: #99E2D0;
  --main-linear-gradient: linear-gradient(30deg, #9356DC 20%, #FF79DA, #99E2D0 80%);
  --main-btn-color: linear-gradient(#FF79DA, #9356DC);
}

body {
  font-family: 'Roboto', sans serif;
  font-size: 18px; 
  margin: 0;
}

p {
  font-size: 17px;
  font-weight: 300;
  color: var(--main-color); 
}

h2 {
  color: var(--main-color);
  padding-top: 50px;
  margin: 0 0 0 20px; 
}

h3 {
  margin-bottom: 0; 
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.flex-row {
  display: flex;
  flex-direction: row; 
}

.flex-column {
  display: flex;
  flex-direction: column; 
}

/* LODEAR */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background: white;
  animation: hidden 3s linear;
  animation-delay: 3s;
  animation-fill-mode: forwards; 
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  &-object {
    color: var(--main-bg-color);
    background: var(--main-linear-gradient);
    background-size: 100%;
    border-radius: 50px;
    width: 100px;
    height: 20px;
    animation: spin 3s linear infinite;
    transform-origin: 0 0;
    margin-left: 180px; 
    padding-left: 20px; 
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    background-position: 0 50%;
  }
  50% {
    transform: rotate(0deg);
    background-position: 100% 50%;
  }
  100% {
    transform: rotate(360deg);
    background-position: 0 50%;
  }
}

@keyframes hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    
  }
}


/* HEADER */


/* MAIN - SEARCH */
.search {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA; 
}

.search-container {
  border: none;
  background-color: #EAEAEA;
  height: 50px;
  font-size: 16px;
  font-weight: 500; 
}

#search-icone {
  margin-left: 40px;
  margin-right: 20px; 
}

/* MAIN - TITLE */
.title-slogan-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-bg-color); 
}

.title-slogan-container-container {
  font-size: 24px;
  text-align: center;
  margin: 30px 20px 20px 20px; 
}

.title-slogan-container-txt  {
  font-size: 18px;
  color: #353535;
  text-align: center;
  margin: 0 10px 30px 10px; 
}

.title-slogan-container-btn {
  display: flex;
  justify-content: center;
  width: 100%; 
}

button {
  width: 218px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  box-shadow: 0px 10px 32px 0px rgba(0, 0, 0, 0.27);
  border: none;
  background: var(--main-btn-color);
  border-radius: 25px;
  margin-bottom: 50px; 
}

/* MAIN - FUNCTIONING */
.functioning {
  padding-bottom: 40px; 
}

.functioning-btn {
  position: relative;
  width: 90%;
  height: 70px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.15));
  box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.14);
  background-color: var(--main-bg-color);
  border-radius: 20px;
  margin: 30px 20px 0 25px; 
}

.functioning-btn i {
  display: flex;
  margin-left: 10px;
  margin-right: 50px;
  color: #7E7E7E;
  margin-bottom: 5px; 
}

.functioning-btn i:hover {
  color: var(--main-first-color); 
}

.functioning-btn-nbr  {
  width: 24px;
  height: 24px;
  font-size: 14px;
  display: flex;
  position: absolute;
  margin-right: 100%;
  color: white;
  background-color: var(--main-first-color);
  border-radius: 25px; 
}

.functioning-btn-txt  {
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px; 
}

@media all and (min-width: 768px) and (max-width:1023) {
  
  .functioning {
    padding-left: 20px;
    padding-right: 20px;
    
  }

  .functioning-container {
    width: 100%;
    display: flex;
    flex-direction: row; 
  } 

  .functioning-btn i {
    margin: 0 30px 5px 30px;
    color: #7E7E7E; 
  }

  /* CARD */
  .card-container-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;    
  }
  
}

@media all and (min-width: 1024px) /*and (max-width:1280px)*/ {
  .functioning {
    padding-left: 30px;
    padding-right: 30px;
    
  }

  .functioning-container {
    width: 100%;
    display: flex;
    flex-direction: row; 
  } 

  .functioning-btn i {
    justify-content: left;
    margin: 0 30px 5px 30px;
    color: #7E7E7E; 
  }

  /* CARD */
  .card-container-flex {
    width: 100%;
    display: flex;
    flex-direction: row;      
  }

  .card {
    width: 50%;
  }

  .card-container {
    width: 100%;
  }

 /* FOOTER */
  .footer {
    display: flex;
    flex-direction: row-reverse;
    &-link {
      display: flex;
      flex-direction: row;
      align-items: center;      
    }
  }



  .footer-link-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
}



